@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
}


:root {
    --color-bg:#7F2062;
    --color-bg-variant:#F09DA1;
    --color-primary:#000;
    --color-white:#FFFFFF;
    --color-accent:#E5146C;



    --container-lg:80%;
    --container-md:86%;
    --container-sm:90%;
}

 body {
    font-family: Mo;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
 }



 .container {
    width: var(--container-lg);
    margin: 0 auto;
 }

 section {
    padding: 6rem 0;
 }

 h1, h2, h3, h4, h5 {
    line-height: 1.2;
 }


 h1 {
    font-weight: 2.4rem;
 }

 h2{
    font-weight: 2rem;
 }

 h3 {
    font-weight: 1.6rem;
 }

 h4 {
    font-weight: 1.3rem;
 }


 a{
    color: var(--color-white);
 }

 img {
    width: 100%;
    display: block;
    object-fit: cover;
 }

 .btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--color-bg-variant);
    color: var(--color-white);
    border: 1px solid transparent;
    font-weight: 500;
    transition: all 400ms ease;
 }

 .btn:hover {
    background: transparent;
    color: var(--color-bg-variant);
    border: var(--color-bg-variant);
 }

.btn__primary {
    
}